<?xml version="1.0"?>

<launch>
	<arg name="world_name" default="worlds/willowgarage.world"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable. (default /usr/share/gazebo-7) -->
	<arg name="rviz_cfg" default="husky_3d_mapping.rviz" />
	<arg name="map_file" default="map_3d.bt" />
	
	<!-- Launch husky with kinect -->
	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
		<arg name="world_name" value="$(arg world_name)" />
		<arg name="laser_enabled" value="false" />
		<arg name="kinect_enabled" value="true" />
		<arg name="joystick_enabled" value="true"/>
	</include>
	
	<!-- Start rviz visualization with preset config -->
	<node name="rviz" pkg="rviz" type="rviz" args="$(eval '-d ' + find('husky_3d_mapping') + '/rviz_cfg/' + arg('rviz_cfg'))" />

	<!-- Start mapping with octomap_server -->
	<include file="$(find husky_3d_mapping)/launch/mapping/octomap_mapping.launch">
		<arg name="base_frame" value="odom" />
		<arg name="map_file" value="$(eval find('husky_3d_mapping') + '/map/' + arg('map_file'))" />
	</include>

	<!-- Start teleop with keyboard -->
	<include file="$(find husky_3d_mapping)/launch/teleop.launch" />

	<!-- Start husky automated control -->
	<node name="speed_controller" pkg="husky_speed_controller" type="node" output="screen" />

</launch>
